::selection {
    background: rgb(241, 181, 50);
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(133deg, rgba(0,0,0,1) 0%, rgb(48, 48, 48) 100%);
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateX(-30%) translateY(-50%);
    width: 60%;
    text-align: justify;
}

.mid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.title {
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
    font-size: 100px;
}

.subtitle {
    color: lightgrey;
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    display: inline-block;
}

.subtitle:before {
    content: "\200b";
}

.social {
    font-size: 25px;
    color: white;
    transition: 0.3s;
    margin-top: 0;
    margin-right: 10px;
}

.social:hover {
    color: rgb(241, 181, 50);
}

.mini-title {
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 50px;
}

.project-list, .social-list {
    list-style-type: none;
    padding: 0;
}

.project-item {
    color: lightgray;
    margin-bottom: 15px;
}

a {
    color:rgb(241, 181, 50);
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    background-color: rgb(241, 181, 50);
    color: white;
}

.social-item {
    color: lightgray;
    margin-bottom: 5px;
}

.mini-text {
    color: lightgrey;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

#brave_rewards_container {
    position: absolute;
    left: 97%;
    top: 3%;
    transform: translateX(-97%) translateY(-3%);
    padding: 15px;
    width: 350px;
    border-radius: 10px;
    background-color: rgba(134, 1, 243, 0.3);
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

#brave_rewards_container > i {
    font-size: 30px;
}

.errorpage-title {
    font-weight: 700;
    margin: 0;
    font-size: 100px;
}

.errorpage-subtitle {
    color: lightgrey;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
}
