body {
  background: rgb(0, 0, 0);
  background: linear-gradient(133deg, rgb(0, 0, 0) 0%, rgb(48, 48, 48) 100%);
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}
